@font-face {
  font-family: limelight;
  src: url("/fonts/Limelight-Regular.ttf");

  font-family: lexend;
  src: url("/fonts/Lexend-VariableFont_wght.ttf");
}

body {
  background-color: #292929;
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: lexend;

  header {
    height: 100vh;
    h1 {
      font-family: limelight;
      text-align: center;

      width: 1200px;
      //height:100vh;
      font-size: 80pt;
    }
    p {
      width: 1200px;
      color: red;
    }
  }

  main {
    width: 1200px;

    #grafLinhasReceitasTexto {
      p {
        color: red;
        width: 500px;
      }
    }

    #grafLinhasReceitas {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  footer {
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content:end;
    p {
      font-family: lexend;
      text-align: center;

      &:first-child {
        font-weight: 100;
        font-size: 10pt;
      }
      &:nth-child(2) {
        font-weight: 200;
        font-size: 10pt;
      }
    }
  }
}
