@font-face {
  font-family: limelight;
  src: url("/fonts/Limelight-Regular.ttf");

  font-family: lexend;
  src: url("/fonts/Lexend-VariableFont_wght.ttf");
}

body {
  background-color: #292929;

  h1 {
    font-family: limelight;
    color: whitesmoke;
  }

  p {
    color: whitesmoke;
  }
}

footer {
  p {
    color: white;
    font-family: lexend;
      text-align: center;

    &:first-child {
      font-weight: 100;
      font-size: 10pt;
    }
    &:nth-child(2) {
      font-weight: 200;
      font-size: 10pt;
    }
  }
}
