@font-face {
  font-family: limelight;
  src: url("/fonts/Limelight-Regular.ttf");
}

@font-face {
  font-family: lexend;
  src: url("/fonts/Lexend-VariableFont_wght.ttf");
}

body {
  background-color: #292929;
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: lexend;

  header {
    height: 100vh;

    h1 {
      font-family: limelight;
      text-align: center;

      width: 1200px;
      //height:100vh;
      font-size: 80pt;
      position: relative;
      top: 50px;
    }

    p {
      width: 932px;
      color: red;
      position: relative;
      top: 30px;
      left: 125px;
      text-align: justify;
    }
  }

  main {
    width: 1200px;

    #SeccaoGrafMapa {
      height: 1000px;
    }


    h2 {
      font-size: 30px;
      font-family: limelight;
    }

    p {
      color: red;
      width: 500px;
    }

    #grafEspectadoresLocalTexto,
    #grafLinhasReceitasTexto {
      p {
        &:nth-child(3) {
          font-weight: 100;
          font-size: 9pt;
          color: white;
        }
      }
    }

    .chart {
      min-height: 700px;

      display: flex;
      flex-direction: column;
      align-items: center;

    }

    .chart {
      min-height: 700px;

      display: flex;
      flex-direction: column;
      align-items: center;

    }

    #grafAdmissoesPorGenero {
      margin-top: 100px;
      margin-bottom: 100px;

      p {
        color: red;
        width: 500px;


      }
    }

    #grafAdmissoesPorGenero {
      margin-top: 100px;
      margin-bottom: 100px;

      p {
        color: red;
        width: 500px;
      }

      p:nth-child(3) {
        font-weight: 100;
        font-size: 9pt;
        color: white;
      }

      #radioForm {
        margin-bottom: 50px;
      }

      #radioForm label {
        margin-right: 10px;
        font-size: 12pt;
      }

      /* hide native circle */
      input[type="radio"] {
        display: none;
      }

      .radio-btn {
        display: inline-block;
        padding: 10px 20px;
        margin: 5px;
        border-radius: 12px;
        background-color: #353535;
        color: #ccc;
        cursor: pointer;
        transition: all 0.2s ease;
      }

      .radio-btn:hover {
        background-color: #3f3f3f;
      }

      .radio-btn:has(input[type="radio"]:checked) {
        background-color: #202020;
        color: white;
      }

      #grafAdmissoesPorGeneroContainer {
        height: 600px;
        overflow-y: auto;
        overflow-x: hidden;
        position: relative;
        scrollbar-gutter: stable;


      }

      /* hide scrollbar track by default */
      #grafAdmissoesPorGeneroContainer::-webkit-scrollbar {
        width: 0px;
        height: 0px;
      }

      /* dhow scrollbar only while scrolling */
      #grafAdmissoesPorGeneroContainer:hover::-webkit-scrollbar {
        width: 8px;
        height: 8px;
      }


      #grafAdmissoesPorGeneroContainer::-webkit-scrollbar-thumb {
        background-color: red;
        border-radius: 4px;
      }
    }

    #grafPaisesPorAno {
      margin-bottom: 100px;

      p {
        color: red;
        width: 500px;
      }

      p:nth-child(3) {
        font-weight: 100;
        font-size: 9pt;
        color: white;
      }
    }
  }

  .tooltip {
    position: absolute;
    background: #353535;
    width: fit-content;
    height: auto;
    padding: 10px;
    margin-top: 40px;
    margin-left: 10px;
    border-radius: 12px;
    font-size: 12px;
    pointer-events: none;
    z-index: 9999;
    opacity: 0;
    transition: opacity 0.2s ease;
  }


  footer {
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: end;

    p {
      text-align: center;

      &:first-child {
        font-weight: 100;
        font-size: 10pt;
      }

      &:nth-child(2) {
        font-weight: 200;
        font-size: 10pt;
      }
    }
  }
}